<div class="contenedor-principal">
    <h1 *ngIf="chat.gotAllMessages == false; else gotFriendsMessages">
        <mat-spinner></mat-spinner>
    </h1>

    <ng-template #gotFriendsMessages>
        <div class="container-fluid">
            <div class="row">
                <!--Lista amigos-->
                <div class="col-md-3 col-2 p-0 column-friends">
                    <div class="search-box display-none mt-2 mb-4">
                        <div class="input-wrapper">
                            <i class="material-icons">search</i>
                            <input type="text" placeholder="Buscar aquí" [(ngModel)]="filtroAmigo" name="filtroAmigo">
                        </div>
                    </div>
                    <div *ngFor="let friend of chat.friends | filtroAmigos:filtroAmigo; index as i"
                        class="friend-description" (click)="chatWith(friend)">
                        <img src="{{friend.photoURL}}" alt="Foto {{friend.displayName}}" width="100px" class="centrado">
                        <div class="text display-none">
                            <span>{{friend.displayName}} {{friend.status}}</span>
                        </div>
                        <span *ngIf="chat.messagesWithoutRead[i].messages > 0">
                            {{chat.messagesWithoutRead[i].messages}}
                        </span>
                    </div>
                </div>

                <!--Columna que aparece si no tienes amigos-->
                <div class="col-md-9 col-10 card p-0" *ngIf="chat.friends.length == 0">
                    <h1 class="text-white">Todavía no tienes amigos!!!</h1>
                </div>

                <!--Chat-->
                <div class="col-md-9 col-10 card p-0" *ngIf="chat.chatEnabled == true">
                    <!--Información amigo chat abierto-->
                    <div class="card-header">
                        <div class="d-flex justify-content-between bd-highlight">
                            <div class="d-flex">
                                <img src="{{chat.friendSelected.photoURL}}" class="rounded-circle user_img">
                                <div class="user_info">
                                    <span>{{chat.friendSelected.displayName}}</span>
                                    <p>{{chat.messagesWithFriend.length}} mensajes</p>
                                </div>
                            </div>
                            <div class="align-self-center">
                                <button (click)="friends.deleteFriend(chat.uidFriendSelected)" class="btn btn-light">
                                    <mat-icon>delete</mat-icon>
                                </button>
                                <button (click)="chat.deleteChat()" class="btn btn-light ml-2">
                                    <mat-icon>delete_forever</mat-icon>
                                </button>
                                <button (click)="chat.closeChat()" class="btn btn-light ml-2">
                                    <mat-icon>clear</mat-icon>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div #scrollMe id="messages-chat" class="card-body" (scroll)="onScroll()">
                        <div class="row">
                            <div class="col-12 col-md-10 mx-auto">
                                <div class="row" *ngFor="let message of chat.messagesWithFriend; index as i">
                                    <!--Mis mensajes-->
                                    <div *ngIf="message.uid == auth.authUser.uid; else msgAjeno"
                                        class="col-md-9 col-12 ml-auto">
                                        <div class="d-flex mb-4">
                                            <div class="chat-bubble chat-bubble--right ml-auto"
                                                [matMenuTriggerFor]="menu" [class.img-class]="message.imageURL">
                                                <span *ngIf="message.text"> {{ message.text }}</span>
                                                <img *ngIf="message.imageURL" src="{{message.imageURL}}" alt=""
                                                    class="img-chat">
                                                <span class="msg_time_send">
                                                    {{ message.timestamp }}, {{message.day}}
                                                    <span *ngIf="!message.isRead; else elseBlock">
                                                        <i class="fas fa-check"></i>
                                                    </span>
                                                    <ng-template #elseBlock>
                                                        <i class="fas fa-check-double"></i>
                                                    </ng-template>
                                                </span>
                                            </div>
                                            <mat-menu #menu="matMenu">
                                                <button *ngIf="message.imageURL" mat-menu-item data-toggle="modal"
                                                    data-target="#exampleModal"
                                                    (click)="saveImgModal(message.imageURL)">
                                                    <mat-icon>visibility</mat-icon>
                                                    <span>Ver ampliada</span>
                                                </button>
                                                <button mat-menu-item (click)="chat.deleteMsgs(message,1)">
                                                    <mat-icon>delete_outline</mat-icon>
                                                    <span>Eliminar para mi</span>
                                                </button>
                                                <button mat-menu-item (click)="chat.deleteMsgs(message,2)">
                                                    <mat-icon>delete_forever</mat-icon>
                                                    <span>Eliminar para todos</span>
                                                </button>
                                            </mat-menu>
                                            <img src="{{message.photoURL}}" alt="" width="50px" height="50px"
                                                class="rounded-circle display-none">
                                        </div>
                                    </div>
                                    <!--Sus mensajes-->
                                    <ng-template #msgAjeno>
                                        <div class="col-md-9 col-12">
                                            <div class="d-flex mb-4">
                                                <img src="{{message.photoURL}}" alt="" width="50px" height="50px"
                                                    class="rounded-circle display-none">
                                                <div class="chat-bubble chat-bubble--left mr-auto"
                                                    [class.img-class]="message.imageURL">
                                                    <span *ngIf="message.text"> {{ message.text }}</span>
                                                    <img *ngIf="message.imageURL" src="{{message.imageURL}}" alt=""
                                                        class="img-chat" data-toggle="modal" data-target="#exampleModal"
                                                        (click)="saveImgModal(message.imageURL)">
                                                    <span class="msg_time">{{ message.timestamp }},
                                                        {{message.day}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-template>
                                    <!-- Modal visualizar imágen en grande -->
                                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-lg  modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-body p-0">
                                                    <img src="{{urlImg}}" width="100%" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <form id="chatFriends" [formGroup]="chatFriends" (ngSubmit)="onSubmit()">
                            <div class="input-group">
                                <div class="input-group-append">
                                    <input id="file" style="display: none;" type="file" (change)="chat.sendImg($event)"
                                        accept=".png,.jpg" />
                                    <span (click)="openFileSelection()" class="input-group-text attach_btn"><i
                                            class="fas fa-paperclip"></i></span>
                                </div>
                                <input type="text" [(ngModel)]="chat.msgEnviar" formControlName="text"
                                    class="form-control type_msg" (click)="enableScollDown()">
                                <div class="input-group-append">
                                    <button type="submit" class="input-group-text send_btn"><i
                                            class="fas fa-location-arrow"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</div>