<div class="container">

    <div id="videogame" class="row vh-100 d-flex justify-content-center align-items-center">

        <div class="col mb-5">
            <h1 class="text-white">Survivor</h1>
            <h4 class="text-light">Disponible para dispositivos: </h4>
            <img src="../../../assets/imgs/and.png" class="rounded-circle" width="100px" height="100px"/>

            <h4 class="text-light mt-3">Próximamente en: </h4>
            <img src="../../../assets/imgs/Windows.png" class="rounded-circle" width="100px" height="100px"/>
            <img src="../../../assets/imgs/apple.png" class="rounded-circle" width="100px" height="100px"/><br/>

            <a href="{{pathDownload}}" download="Survivor.apk">
                <button class="btn btn-primary mt-4">Descarga aquí</button>
            </a>
        </div>
        <div class="col mb-5">
            <!-- <iframe id="trailer" width="560" height="315" src="https://www.youtube.com/watch?v=eNcuMn3SGqU"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
            </iframe> -->
            <iframe id="trailer" width="560" height="315" [src]="getVideoIframe('https://www.youtube.com/watch?v=eNcuMn3SGqU')"
                frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
            </iframe>
        </div>
    </div>

</div>