<div class="container">

    <!--     <iframe width="560" height="315" [src]="getVideoIframe('https://www.youtube.com/watch?v=a6Xlb4LbRzM')"
        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
    </iframe> -->

    <div id="videogame" class="row vh-100 d-flex justify-content-center align-items-center">

        <div class="col mb-5">
            <h1 class="text-white">Survivor</h1>
            <h4 class="text-light">Disponible para dispositivos Android </h4>
            <h5 class="text-light">Próximamente en nuevas plataformas </h5>

            <a href="{{pathDownload}}" download="Survivor.apk"> 
                <button class="btn btn-primary mt-4">Descarga aquí</button>
            </a>
        </div>
        <div class="col mb-5">
            <iframe id="trailer" width="560" height="315" src="https://www.youtube.com/embed/nGtcRxP_OR4"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
            </iframe>
        </div>
    </div>
 
</div>