<!--Modal Login-->
<div class="modal-body bg-dark gris">
    <div class="container-fluid">
        <div class="row">
            <!--1º Parte imágen-->
            <div class="col-lg-5 col-0 p-0 bg-success">
            </div>
            <!--2º Parte Login-->
            <div class="col-lg-7 col-12 px-3">
                <button type="button" class="close" aria-label="Close" (click)="activeModal.close('Cross click')">
                    <i class="fas fa-times fa-sm gris"></i>
                </button>
                <h1 class="text-center text-white mt-3">Entrar</h1>
                <!--Mensaje error login-->
                <div *ngIf="msg" class="alert alert-danger" role="alert">
                    {{ msg }}
                </div>
                <!--Mensaje correo enviado para resetear contraseña-->
                <div *ngIf="msgPassword" class="alert alert-warning" role="alert">
                    {{ msgPassword }}
                </div>
                <!--Formulario login-->
                <form id="login" [formGroup]="login" (ngSubmit)="onSubmit()" class="mt-3">
                    <!--Email-->
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label class="gris">Correo electrónico</mat-label>
                        <input id="email" matInput formControlName="email" [(ngModel)]="auth.emailLogin">
                        <mat-icon matSuffix>mail</mat-icon>
                        <!--Validación email-->
                        <mat-error *ngIf="formLogin.email.errors && formLogin.email.errors.required">
                            Este campo es <strong>obligatorio.</strong>
                        </mat-error>
                        <mat-error *ngIf="formLogin.email.errors && formLogin.email.errors.email">
                            Introduce un correo electrónico válido.
                        </mat-error>
                    </mat-form-field>
                    <!--Password-->
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label class="gris">Contraseña</mat-label>
                        <input id="pass" matInput [type]="hide ? 'password' : 'text'" formControlName="password"
                            [(ngModel)]="auth.passLogin">
                        <button type="button" mat-icon-button matSuffix (click)="hide = !hide"
                            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <!--Validación contraseña-->
                        <mat-error *ngIf="formLogin.password.errors && formLogin.password.errors.required">
                            Este campo es <strong>obligatorio.</strong>
                        </mat-error>
                    </mat-form-field>
                    <!--Has olvidado la contraseña-->
                    <a (click)="openPassOlvidada()" class="cursor-pointer text-secondary">¿Has olvidado la contraseña?</a>
                    <!--Submit login email y pass-->
                    <button type="submit" mat-raised-button class="btn btn-primary w-100 py-1 mt-3">Entrar</button>
                </form>
                <!--Botones login redes sociales-->
                <div class="row mt-4 py-4 px-3">
                    <div class="col-12">
                        <p class="text-center">Accede a través de</p>
                    </div>
                    <div class="w-50 pr-1">
                        <button id="bt-google" type="button" mat-raised-button color="warn" class="w-100 py-1" (click)="loginGoogle()">
                            <i class="fab fa-google fa-lg"></i>
                        </button>
                    </div>
                    <div class="w-50 pl-1">
                        <button id="bt-fb" type="button" mat-raised-button color="primary" class="w-100 py-1"
                            (click)="loginFacebook()">
                            <i class="fab fa-facebook-f fa-lg"></i>
                        </button>
                    </div>
                </div>
                <!--Ir a registro-->
                <div class="mt-3 py-2 text-center mx-auto">
                    <div class="w-100">
                        <a id="enlaceRegistro" class="cursor-pointer text-secondary" (click)="openRegistro()">Regístrate aquí</a>
                    </div>
                    <span>Si todavía no tienes una cuenta</span>
                </div>
            </div>
        </div>
    </div>
</div>