<div class="container-fluid gris">
    <!--Ranking monedas-->
    <h1>Ranking monedas</h1>
    <ul>
        <li *ngFor="let user of rankings.rankingCoins; index as i">
            {{i + 1}} {{user.displayName}} - {{user.coins}} monedas
        </li>
    </ul>

    <!--Ranking Nivel 1-->
    <h1>Ranking Nivel 1</h1>
    <div class="row">
         <div class="col">
            <h2>Ranking enemigos</h2>
            <ul *ngIf="rankings.lvlRankings[0]">
                <li *ngFor="let user of rankings.lvlRankings[0].RankingEnemigos; index as i">
                    {{i + 1}} {{user.uid}} - {{user.enemiesKilled}} enemigos
                </li>
            </ul>
        </div> 
         <div class="col">
            <h2>Ranking puntuacion</h2>
            <ul *ngIf="rankings.lvlRankings[0]">
                <li *ngFor="let user of rankings.lvlRankings[0].RankingPuntuacion; index as i">
                    {{i + 1}} {{user.uid}} - {{user.punctuation}} puntos
                </li>
            </ul>
        </div>
        <div class="col">
            <h2>Ranking tiempo</h2>
            <ul *ngIf="rankings.lvlRankings[0]">
                <li *ngFor="let user of rankings.lvlRankings[0].RankingTiempo; index as i">
                    {{i + 1}} {{user.uid}} - {{user.time}} tiempo aguantado
                </li>
            </ul>
        </div> 
    </div> 


</div>

