$gris:#b8b6b4; 

*{
    box-sizing: border-box;	
    outline: 0;
}
.header-nav {
    background-color: #171A21;
}

.badge {
    position: absolute;
    font-size: 12px;
    border-radius: 25px;
    padding: 4px 6px;
    top: 22px;
    left: 27px;
    background-color: rgb(83, 83, 95);
}

img {
    border-radius: 30px;
}

header {
    padding: 10px 0;
    transition: padding .3s,height .3s;

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        li {
            display: inline-flex;
            padding: 10px;
        }
    }

    .nav {
        &>ul {
            font-size: 16px;
            font-weight: 700;
            color: #b8b6b4;
            &>li>a {
                font-family: 'Mandali', sans-serif;
                font-size: 20px;
                cursor: pointer;
                position: relative;
                text-decoration: none;
                color: inherit;
                &:hover:before {
                    width: 100%;
                }
                &:before {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: -3px;
                    width: 0;
                    height: 2px;
                    background: currentColor;
                    transition: width .2s;
                }
                
            }
        }
    }
}





