$gris:#b8b6b4; 

.header-nav{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    min-width: 1280px;
    height: 66px;
    background-color: rgba(17,17,17,0.75);
    box-shadow: 0 3px 7px 0 rgb(0 0 0 / 35%);
}

.badge {
    position: absolute;
    font-size: 12px;
    border-radius: 25px;
    padding: 4px 6px;
    top: 22px;
    left: 27px;
    background-color: rgb(83, 83, 95);
}

img {
    border-radius: 30px;
}
.active {
    color: rgb(255, 255, 255);
}

header {
    padding: 10px 0;
    transition: padding .3s,height .3s;

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        li {
            display: inline-flex;
            padding: 10px;
            margin-left: 10px;
            a {
                text-decoration: none;
            }
        } 
    }

    
}

