<!--Menú navegación-->
<nav class="bg-light py-2 px-3">
  <!--Home-->
  <button mat-button routerLink="home">Home</button>
  <!--Tienda-->
  <button mat-button routerLink="tienda">Tienda</button>
  <!--Rankings-->
  <button mat-button routerLink="rankings">Rankings</button>

  <!--Cuenta logeada-->
  <button *ngIf="auth.userState | async as user; else login" mat-button [matMenuTriggerFor]="beforeMenu">Cuenta</button>
  <mat-menu #beforeMenu="matMenu" xPosition="before">
    <!--Perfil-->
    <button mat-menu-item routerLink="perfil">
      <span class="ml-3">Perfil</span>
    </button>
    <!--Amigos-->
    <button mat-menu-item routerLink="amigos">
      <span class="ml-3">Amigos</span>
    </button>
    <!--Salir-->
    <button mat-menu-item (click)="auth.logout()">
      <span class="ml-3">Salir</span>
      <mat-icon class="m-1">logout</mat-icon>
    </button>
  </mat-menu>
  
  <!--Cuenta sin logear-->
  <ng-template #login>
    <button mat-raised-button (click)="openLogin()" color="accent" class="mr-1">Login</button>
    <button mat-raised-button (click)="openRegistro()" color="accent">Registrate</button>
  </ng-template>
</nav>