<!--Menú navegación-->
<nav class="bg-light py-2 px-3">
  <!--Home-->
  <button mat-button routerLink="home">Home</button>
  <!--Tienda-->
  <button mat-button routerLink="tienda">Tienda</button>
  <!--Rankings-->
  <button mat-button routerLink="rankings">Rankings</button>

  <!--Cuenta logeada-->
  <span  *ngIf="auth.userState | async as user; else login">
    <button class="btn btn-sm btn-primary mr-2" routerLink="amigos">
      <mat-icon class="pt-1">chat</mat-icon>
    </button>
    <img [matMenuTriggerFor]="beforeMenu" src="{{auth.authUser.photoURL}}" alt="" width="50px">
    <mat-menu #beforeMenu="matMenu" xPosition="before">
      <!--Perfil-->
      <button mat-menu-item routerLink="perfil">
        <span class="ml-3">Perfil</span>
      </button>
      <!--Salir-->
      <button mat-menu-item (click)="auth.logout()">
        <span class="ml-3">Salir</span>
        <mat-icon class="m-1">logout</mat-icon>
      </button>
    </mat-menu>
  </span>
  
  <!--Cuenta sin logear-->
  <ng-template #login>
    <button mat-raised-button (click)="openLogin()" class="btn-primary mr-1">Entrar</button>
    <button mat-raised-button (click)="openRegistro()" class="btn-primary">Registrarse</button>
  </ng-template>
</nav>