<!--Modal Registro-->
<div class="modal-body">
    <div class="container-fluid">
        <div class="row">
            <!--1º Parte imágen-->
            <div class="col-lg-5 col-0 p-0 bg-secondary">
            </div>
            <!--2º Parte Login-->
            <div class="col-lg-7 col-12 px-4">
                <button type="button" class="close" aria-label="Close" (click)="activeModal.close('Cross click')">
                    <i class="fas fa-times fa-sm"></i>
                </button>
                <h1 class="text-center mt-3">Registrarse</h1>
                <!--Formulario Registro-->
                <form id="registro" [formGroup]="registro" (ngSubmit)="onSubmit()" class="mt-3">
                    <!--Email-->
                    <div class="form-group">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Introduce tu correo electrónico</mat-label>
                            <input matInput formControlName="email" [(ngModel)]="auth.emailRegistro">
                            <mat-icon matSuffix>mail</mat-icon>
                            <!--Validación email-->
                            <mat-error *ngIf="formRegistro.email.errors && formRegistro.email.errors.required">
                                Este campo es <strong>obligatorio.</strong>
                            </mat-error>
                            <mat-error *ngIf="formRegistro.email.errors && formRegistro.email.errors.email">
                                Introduce un correo electrónico válido.
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <!--Password-->
                    <div class="form-group">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Crea una contraseña</mat-label>
                            <input matInput [type]="hide ? 'password' : 'text'" formControlName="password"
                                [(ngModel)]="auth.passRegistro" minlength="6">
                            <button type="button" mat-icon-button matSuffix (click)="hide = !hide"
                                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                            <!--Validación contraseña-->
                            <mat-error *ngIf="formRegistro.password.errors && formRegistro.password.errors.required">
                                Este campo es <strong>obligatorio.</strong>
                            </mat-error>
                            <mat-error *ngIf="formRegistro.password.errors && formRegistro.password.errors.minlength">
                                La contraseña debe tener como mínimo <strong>6 carácteres.</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <!--Botón registro email y pass-->
                    <button type="submit" mat-raised-button color="accent" class="w-100 py-1">Registro</button>
                </form>
                <!--Botones login redes sociales-->
                <div class="row mt-4 py-4">
                    <div class="col-12">
                        <p class="text-center">Accede a través de</p>
                    </div>
                    <div class="col-6">
                        <button type="button" mat-raised-button color="warn" class="w-100 py-1" (click)="loginGoogle()">
                            <i class="fab fa-google fa-lg"></i>
                        </button>
                    </div>
                    <div class="col-6">
                        <button type="button" mat-raised-button color="primary" class="w-100 py-1"
                            (click)="loginFacebook()">
                            <i class="fab fa-facebook-f fa-lg"></i>
                        </button>
                    </div>
                </div>
                <!--Ir a login-->
                <div class="row mt-3 py-2 text-center">
                    <a class="w-100" (click)="openLogin()" href="#">Inicia sesión aquí</a>
                    <span class="mx-auto">Si ya tienes una cuenta</span>
                </div>
            </div>
        </div>
    </div>
</div>