<!--Modal contraseña olvidada-->
<div class="modal-body bg-dark text-light">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <button type="button" class="close" aria-label="Close" (click)="activeModal.close('Cross click')">
                    <i class="fas fa-times fa-sm text-light"></i>
                </button>
                <h1 class="text-center text-white mt-3">Restablecer contraseña</h1>
            </div>
            <div class="col-11 col-lg-10 mx-auto px-3 pb-3 bb">
                <!--Mensaje error al enviar el correo para reestablecer contraseña-->
                <div *ngIf="msg" class="alert alert-danger" role="alert">
                    {{ msg }}
                </div>
                <!--Formulario contraseña olvidada-->
                <form id="passOlvidada" [formGroup]="passOlvidada" (ngSubmit)="onSubmit()" class="mt-3">
                    <!--Email-->
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label class="text-light">Introduce tu correo electrónico</mat-label>
                        <input id="email" matInput formControlName="email" [(ngModel)]="auth.emailPass">
                        <mat-icon matSuffix>mail</mat-icon>
                        <!--Validación email-->
                        <mat-error *ngIf="formPassOlvidada.email.errors && formPassOlvidada.email.errors.required">
                            Este campo es <strong>obligatorio.</strong>
                        </mat-error>
                        <mat-error *ngIf="formPassOlvidada.email.errors && formPassOlvidada.email.errors.email">
                            Introduce un correo electrónico válido.
                        </mat-error>
                    </mat-form-field>
                    <!--Submit contraseña olvidada-->
                    <button id="passOlvidada" type="submit" mat-raised-button class="btn btn-primary w-100 py-1 mt-2">
                        Restablecer contraseña
                    </button>
                </form>
                <!--Volver Login-->
                <div class="mt-4 text-center mx-auto">
                    <div class="w-100">
                        <a id="enlaceRegistro" class="cursor-pointer text-secondary" (click)="backLogin()">Iniciar sesión</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>