<!--Modal Registro-->
<div class="modal-body bg-dark gris">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <button type="button" class="close" aria-label="Close" (click)="activeModal.close('Cross click')">
                    <i class="fas fa-times fa-sm gris"></i>
                </button>

                <!--Ver perfil-->
                <div *ngIf="profile">
                    <!--Información principal-->
                    <div class="text-center mt-1">
                        <a href="{{user.photoURL}}" target="_blank">
                            <img src="{{user.photoURL}}" alt="" class="rounded-circle" width="100px"
                            [ngClass]="{'border-green': user.status === 'online', 'border-red' : user.status === 'offline' }">
                        </a>
                        <h1 class="text-white mr-2 mb-0">{{user.displayName}}</h1>
                        <p>{{user.email}}</p>

                        <!--Vista usuario: Amigo ya agregado-->
                        <ng-container *ngIf="addUser == 'see'">
                            <button (click)="deleteFriend(user.uid)" class="btn btn-primary">
                                Dejar de ser amigos
                            </button>
                        </ng-container>

                        <!--Vista solicitud: Aceptar/Rechazar-->
                        <ng-container *ngIf="addUser == 'add'">
                            <button class="btn btn-primary" (click)="friendRequest(user.uid,1)">Aceptar</button>
                            <button class="btn btn-primary ml-2" (click)="friendRequest(user.uid,2)">Rechazar</button>
                        </ng-container>

                    </div>
                    <!--Fotos compartidas-->
                    <div *ngIf="addUser == 'see'" class="mt-4">
                        <!-- <p *ngIf="chat.urlImgsChat.length > 0" class="m-0">Imágenes compartidas</p> -->
                        <div class="row">
                            <ng-container *ngFor="let image of chat.urlImgsChat; index as i">
                                <!--Fotos-->
                                <div *ngIf="i < 6" class="col-lg-3 col-4 mt-2 p-1">
                                    <a href="{{image}}" target="_blank">
                                        <img class="rounded shadow-lg w-100" src="{{image}}" alt="{{i}}" height="120px">
                                    </a>
                                </div>
                                <!--Nº de fotos restantes-->
                                <div class="col-lg-3 col-4 mt-2 p-1" *ngIf="i == 6">
                                    <div class="morePhotos rounded bg-success" (click)="seePhotos()">
                                        <mat-icon>photo_camera</mat-icon>
                                        <p class="mr-1">+{{chat.urlImgsChat.length - 6}}</p>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                    <!--Inicio de amistad-->
                    <p *ngIf="addUser == 'see'" class="float-right mt-4 mb-0">
                        Amigos desde {{user.friendshipDate}}
                    </p>
                </div>

                <!--Ver fotos-->
                <div *ngIf="!profile" class="text-center">
                    <h1 class="text-white mr-2 mb-0">{{user.displayName}}</h1>
                    <p class="m-1">Imágenes compartidas: {{chat.urlImgsChat.length}}</p>
                    <button class="btn btn-primary mb-2" (click)="seeProfile()">
                        Volver
                    </button>
                    <div class="row photos">
                        <ng-container *ngFor="let image of chat.urlImgsChat; index as i">
                            <!--Fotos-->
                            <div class="col-lg-3 col-4 mt-2 p-1">
                                <a href="{{image}}" target="_blank">
                                    <img class="rounded shadow-lg w-100" src="{{image}}" alt="{{i}}" height="120px">
                                </a>
                            </div>
                        </ng-container>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>