$error:#df3c31;

p {
    font-size: 20px;
}
.circulo {
    padding-top: 25px;
    padding-left: 25px;
    height:100px;
    width:100px;
    border-radius:100px;
    border: 2px solid $error;

    mat-icon {
        font-size: 45px;
        color: $error !important;
    }
}