ul {
    list-style: none;
}

.search-friend {
    box-shadow: 0 0 10px #0E141D;
    border-radius: 5px;
    background: linear-gradient( -60deg, #48535e 5%,#2e3e4b 95%) !important;
    padding: 20px;
    font-family: "Motiva Sans", sans-serif;
    font-weight: 400px;
    font-weight: bold;
    
    span.titulo {
        display: block;
        font-size: 30px;
        color: #ffffff;
    }
    span.subtitulo {
        font-size: 14px;
        color: #adb4b9;
    }
    .search-box {
        padding: 10px 13px;
        .input-wrapper {
            background: #fff;
            border-radius: 40px;
            padding: 7px;
    
            i { 
                color: grey;
                vertical-align: middle;
                margin-left: 7px;
            }
    
            input {
                border: none;
                border-radius: 40px;
                width: 80%;
                padding-left: 10px;
                &::placeholder {
                    color: grey;
                    font-weight: 350;
                }
            
                &:focus {
                    outline: none;
                }
            }
        }
    }
}

.users {
    background-color: #0E141D;
    box-shadow: 0 0 10px #0E141D;
    border-radius: 5px;
    padding: 20px 20px;
    padding-top: 5px;
    .user {
        padding: 10px;
        background-color: #18222F;
    }
}

.aside-block {
    box-shadow: 0 0 10px #0E141D;

    .titulo {
        font-family: 'Mandali', sans-serif;
        font-weight: 500;
        padding: 10px;
        font-size: 20px;
    }

    .contenido-block {
        padding: 10px;
    /*  background: linear-gradient( -60deg, #72663f 5%,#9e926b 95%);*/    
    }
}