// Colores
$primary: #3f448d;
$secondary: #9498d4;
$info: #29536b;
$dark: #171A21;
$gris: #b8b6b4; 
$light: #b8b6b4;
$success: #21252e;

body {
    background-color: $dark !important; 
}
 
.cursor-pointer {
    cursor: pointer;
}

#bt-google:hover {
    background-color: #db3327;
}
#bt-fb:hover {
    background-color: #3343a0;
}

.gris {
    color: $gris;
}

.btn-style {
    font-family: "Motiva Sans",Arial,Helvetica,sans-serif;
    color: white;
    font-size: 15px;
    background: $primary !important;
}

.margin-header {
    margin-top: 8vh;
}