// Colores
$primary: #29536b;
$secondary: #9abed3;
$dark: #171A21;
$gris: #b8b6b4; 

body {
    background-color: #212f3d !important;
}
 
.cursor-pointer {
    cursor: pointer;
}

#bt-google:hover {
    background-color: #db3327;
}
#bt-fb:hover {
    background-color: #3343a0;
}

.gris {
    color: $gris;
}

.btn-style {
    font-family: "Motiva Sans",Arial,Helvetica,sans-serif;
    color: white;
    font-size: 15px;
    background: rgba( 103, 193, 245, 0.2 ) !important;
    &:hover {
        background: linear-gradient( -60deg, #29536b 5%,#387091 95%) !important;
    }
}