// Colores
$primary: #644769;
$secondary: #cabc8c;
$info: #29536b;
$dark: #171A21;
$gris: #b8b6b4; 

$success: #21252e;
$light: #c9662d;
$light: #c93756;

body {
    background-color: $dark !important; 
}
 
.cursor-pointer {
    cursor: pointer;
}

#bt-google:hover {
    background-color: #db3327;
}
#bt-fb:hover {
    background-color: #3343a0;
}

.gris {
    color: $gris;
}

.btn-style {
    font-family: "Motiva Sans",Arial,Helvetica,sans-serif;
    color: white;
    font-size: 15px;
    background: $light !important;
    /* background: rgba(185, 49, 151, 0.2) !important; */
    &:hover {
        background: linear-gradient( -60deg, #29536b 5%,#387091 95%) !important;
    }
}

.margin-header {
    margin-top: 8vh;
}